<% @results.each do |movie| %>
  <div id="movie_<%= movie.id %>">
    <p>Title: <%= link_to movie.title, movie_path(movie.id) %> </p>
    <p>Vote Average: <%= movie.vote_average %> </p>
    <br>
  </div>
<% end %>